.room-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
}

.room-photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.room-details {
    text-align: left;
    margin-top: 15px;
}

.room-name {
    margin-bottom: 10px;
}
